.itemNotDone {
    text-decoration: "";
}

.itemDone {
    text-decoration: line-through;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 80%;
    border-style: inset;
    border-width: 1px;
} 